<template>
  <div id="app">
    <Nav />
    <b-container class="auth-box">
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <h3 class="m-4">Forgot your password?</h3>
        <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          required
          placeholder="Enter email"
        ></b-form-input>
      </b-form-group>

        <b-col lg="4" class="pb-2 right"><b-button size="lg">Register</b-button></b-col>
    </b-form>

    </b-container>
    <b-container class="auth-box-2">
      <ul class="links">
          <li>Cancel and go back to </li>
        <b-link to="/auth/register">login</b-link>
      </ul>
    </b-container>
  </div>
</template>

<script>
import Nav from '@/components/Navbar'
export default {
  components: {
    Nav
  },
  data: () => ({
    form: {
      email: '',
      name: '',
      password: ''
    },
    show: true
  })
}
</script>

<style scoped>
  .auth-box {
    display: flex;
    background-color: #f0f0f055;
    align-content: center;
    align-items: center;
    margin-top: 300px;
    width: 570px;
    height: 200px;
  }
  .auth-box-2 {
    display: flex;
    width: 570px;
    margin-top: 20px;
  }
  #input-1, #input-2 {
    width: 500px;
    margin-left: 5px;
  }
  .right{
    display: flex;
    margin-left: 75%
  }
  .links {
    display: flex;
    list-style: none;
  }
  .links > a{
    margin-right: 80px;
  }
  .links > li{
    margin-right: 8px;
  }
</style>
