<template>
  <div id="app">
    <Nav />
    <b-container class="auth-box">
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
         <div id="main">
          <h3 class="mb-2">Let’s set up your account.</h3>
          <h5 class="mb-5">
              Enter your email below to kickstart the process.
          </h5>
        </div>
        <b-form-group
        id="input-group-1"
        label="Username:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.email"
          type="email"
          required
          placeholder="Enter email"
        ></b-form-input>
      </b-form-group>

   <b-form-group id="input-group-3" label="Password:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.password"
          required
          type="password"
          placeholder="Create a password"
        ></b-form-input>
      </b-form-group>

        <b-col lg="8" class="pb-2 right">
            <b-button size="lg" type="submit">Login</b-button>
        </b-col>
    </b-form>
    </b-container>
    <b-container class="auth-box-2">
      <ul class="links">
        <b-link to="/auth/register">Create a new account</b-link>
        <b-link to="/auth/recover-password">Forgot your password?</b-link>
      </ul>
    </b-container>
  </div>
</template>

<script>
import Nav from '@/components/Navbar'
export default {
  components: {
    Nav
  },
  data: () => ({
    form: {
      email: '',
      name: '',
      password: ''
    },
    show: true
  })
}
</script>

<style scoped>
   .auth-box {
    display: flex;
    background-color: #f0f0f055;
    align-content: center;
    align-items: center;
    margin-top: 300px;
    width: 570px;
    height: 400px;
  }
  .auth-box-2 {
    display: flex;
    width: 570px;
    margin-top: 20px;
  }
  #input-1, #input-2 {
    width: 500px;
    margin-left: 5px;
  }
  .right{
    display: flex;
    margin-left: 75%
  }
  .links {
    display: flex;
    list-style: none;
  }
  .links > a{
    margin-right: 80px;
  }
</style>
