<template>
  <div class="about">
      <Nav />
    <h1>This is an about page</h1>
  </div>
</template>

<script>
import Nav from '@/components/Navbar'
export default {
  components: {
    Nav
  }
}
</script>
