<template>
  <div id="app">
    <Nav />
    <main>
       <b-jumbotron header="MEVN Stack template" lead="Mongo, MongoDB, Express, Vue, and Node">
    <p> FullStack Single Page Application(SPA)</p>
    <b-button variant="primary" href="#">More Info</b-button>
  </b-jumbotron>
    </main>
  </div>
</template>

<script>
import Nav from '@/components/Navbar'
export default {
  components: {
    Nav
  }
}
</script>
