<template>
    <b-navbar toggleable="lg" type="light" variant="light">
    <b-navbar-brand to="/">MEVN Stack Template</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-button to="/" variant="light" class="mr-3">Home</b-button>

        <b-button to="/about" variant="light" class="mr-3">About</b-button>

        <b-button to="/auth/login" variant="secondary" class="mr-3">Login</b-button>

        <b-button to="/auth/register" variant="outline-secondary">Register</b-button>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
